@page "/register"
@using FurnitureStore.Client.Helpers
@using FurnitureStore.Client.Layout.Auth
@using FurnitureStore.Client.Services.IService
@using FurnitureStore.Shared.DTOs
@layout AuthLayout
@inject IAuthService authService
@inject NotificationService _notificationService



        <div class="signup">
        <!-- ================ signup header ================ -->
        <div class="signup_header">
            <div class="signup_logocontainer" >
			<a href=""><img src="https://raw.githubusercontent.com/Thuytrinhne/Sell-Accessories-E-commerce-Website/main/z5609325599402_9366fd626dc74960430ac0525fcffa03.jpg" alt=""></a>
                <h1 class="signin_login-text">Đăng ký</h1>

            </div>
            <a href="" >Bạn cần giúp đỡ?</a>
        </div>
        <!-- ================ signup body ================ -->
        <div class="signup_body">
            <img src="./Assets/Images/background-signup.jpg" alt="" >
            <EditForm Model="@UserModel" OnValidSubmit="HandleRegister">

            <div class="signup_body-form" >
                <div class="signup_body-form-container">
                    <h2 >Đăng ký</h2>

                            <div class="signup_body-input">
@*                                 <label for="" style="margin-bottom: 6px;">Số điện thoại hoặc địa chỉ email</label>  <br> -->
 *@                               
                                <input  id="emailInput"  @bind="@UserModel.User.Email" type="text" placeholder="Email"><br>
                                
                              
@*                                 <input id="emailInput" name="email" type="text" placeholder="Số diện thoại hoặc email" value="{{ old('email') }}"><br>
 *@                             
                            
@*                                 <span class="msg-error">{{$message}}</span>
 *@                               
                            </div>
                            
                            <div class="signup_body-input verified">
                                <!-- <label for="" style="margin-bottom: 6px;">Nhập mã xác thực</label>  <br> -->
                        <input @bind="@UserModel.User.OTP"  type="text" placeholder="Nhập mã xác thực 6 số"><a @onclick="@(e => getOTP())" href="#" @onclick:preventDefault="preventDefault">Lấy mã</a><br>
                            
                              @*   <span class="msg-error">{{$message}}</span> *@
                              
                            </div>
                    
                    <script>
                    function generateURL() {
                        var email = document.getElementById("emailInput").value;
                        var url = "{{ route('sendOTP', ['email' => '14']) }}";
                        url = url.replace('14',email);
                        window.location.href = url;
                        }
                   
                        {
                            var seconds = 30;
                            var minutes = 1;

                            var timer = setInterval(() => {

                                if(minutes < 0){
                                    $('.time').text('');
                                    clearInterval(timer);
                                }
                                else{
                                    let tempMinutes = minutes.toString().length > 1? minutes:'0'+minutes;
                                    let tempSeconds = seconds.toString().length > 1? seconds:'0'+seconds;

                                    $('.time').text(tempMinutes+':'+tempSeconds);
                                }

                                if(seconds <= 0){
                                    minutes--;
                                    seconds = 59;
                                }

                                seconds--;

                            }, 1000);
                        }
                    </script>
                                    
                        <div class="signup_body-input">
                            <!-- <label for="" style="margin-bottom: 6px;">Nhập mật khẩu</label>  <br> -->
                        <input  @bind="@UserModel.User.Password"  type="password" placeholder="Nhập mật khẩu từ 6-32 kí tự"><br>
                            @* @error('password')
                                <span class="msg-error">{{$message}}</span>
                             @enderror *@
                        </div>

                        <div class="signup_body-input">
                            <!-- <label for="" style="margin-bottom: 6px;">Nhập mật khẩu</label>  <br> -->
                        <input  @bind="@UserModel.User.Name"  type="text" placeholder="Họ tên">
                          @*   @error('full_name')
                            <span class="msg-error">{{$message}}</span>
                            @enderror *@
                            <br>
                        </div>

                       

                        <div class="policy">
                            <input type="checkbox" name="policy" id="policy"  {{ old('policy') ? 'checked' : ''}} > 
                            Tôi đã đọc và đồng ý với <a href="">Điều kiện giao dịch chung</a> 
                            và <a href="">Chính sách bảo mật thông tin</a> của T&P 
        
                          @*   @error('policy')
                            <br>
                            <span class="msg-error">{{$message}}</span>
                            @enderror *@
                        </div>
                      
                        <div class="signup_button">
                            <button type="submit" class="signup_btn">Đăng ký</button><br>
                        </div>
                       
                    <div class="signup_have-an-account">
                        <p>Bạn đã có tài khoản? <a href="/login">Đăng nhập</a></p>
                    </div>
                </div>
            </div>
            </EditForm>

    </div>
    </div>
   
@code{
    RegisterDto UserModel = new RegisterDto();
    bool preventDefault = true;


    private string ErrorMessage { get; set; }

    protected override void OnInitialized()
    {
        // Initialization logic if needed
    }


    private async Task getOTP()
    {
        if(!string.IsNullOrEmpty(UserModel.User.Email))
        {
            var result = await authService.SendOTP(UserModel.User.Email);
            if(result == true)
            {
                await _notificationService.DisplaySuccessMessage("Gửi OTP thành công, hãy check mail bạn nhé !");
            }
            else
            {
                await _notificationService.DisplayErrorMessage("Email này đã được đăng ký tài khoản !");
            }
        }
    }
    private async Task HandleRegister()
    {

        if (await authService.Register(UserModel))
        {
            await _notificationService.DisplaySuccessMessage("Đăng ký thành công, vui lòng đăng nhập để tiếp tục mua sắm !");
            UserModel.User = new UserDto();
        }
        else
        {
            await _notificationService.DisplayErrorMessage("OTP không chính xác !");

        }
    }
}

